body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    max-width: 700px;
    margin: 0 auto;
    padding: 10vh 0.6em 0;
    color: #444;
}

a {
    text-decoration: none;
    color: forestgreen;
}

a:hover {
    color: lawngreen;
}

header {
    font-size: 130%;
    margin-bottom: 2em;
}

header .logo {
    font-size: 120%;
}

nav {
    margin-top: 0.4em;
}

nav a {
    font-variant: all-small-caps;
    margin-right: 0.6em;
}

main {
    font-size: 110%;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em;
}

footer {
    margin: auto 0 0.5em;
    padding-top: 2em;
    font-size: 90%;
}
